.room-list {
    position: relative;
    background-image: url(~assets/images/buttons/frame-bg.jpg);
    background-size: 100% 100%;
    padding: 50px;
    border: 1px solid #111;
    border-radius: 5px;
    height: 400px;
    overflow-y: auto;
    color: $c-white;

    .title {
        font-size: 40px;
        color: #fff;
    }

    .room {
        padding: 10px 15px;
    }

    &__btn {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}