.player {
  width: 22%;
  height: 26%;
  position: absolute;

  &__name {
    display: block;
    text-align: center;
    font-size: 21px;
    color: #bebebe;
  }

  &__role {
    display: block;
    text-align: center;
    font-size: 12px;
  }

  &__cards + &__cards {
    margin-top: 10px;
  }

  &__card {
    &--clue {
      background: url('/images/cards/player-card-blue.jpg') no-repeat center
        center;
      background-size: contain;
    }
    &--means {
      background: url('/images/cards/player-card-red.jpg') no-repeat center
        center;
      background-size: contain;
    }
    padding-top: 125%;
    position: relative;

    > * {
      padding: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--0 {
    bottom: 3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  &--1 {
    left: 0.5%;
    top: 0.5%;
  }
  &--2 {
    left: 0.5%;
    top: 33%;
  }
  &--3 {
    left: 25%;
    top: 0.5%;
  }
  &--4 {
    left: 50%;
    top: 0.5%;
  }
  &--5 {
    right: 0.5%;
    top: 0.5%;
  }
  &--6 {
    right: 0.5%;
    top: 33%;
  }
  &--7 {
    right: 0.5%;
    top: 66%;
  }
}
